.radio-wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  cursor: pointer;
}

.radio-input {
  appearance: none;
  width: 18px;
  height: 18px;
  border: none;
  border-radius: var(--radius-full);
  margin: 0;
  cursor: pointer;
  position: relative;
  /* background-color: var(--background-color-dark); */
  /* box-shadow: var(--glass-shadow-sm); */
  backdrop-filter: saturate(180%) blur(2px);
  transition: backdrop-filter var(--transition-base), box-shadow var(--transition-base);
  flex-shrink: 0;
}

.radio-input:checked {
  background-color: var(--color-primary-300);
}

.radio-input:checked::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: var(--radius-full);
  background-color: white;
}

.radio-input:hover:not(:disabled) {
  backdrop-filter: saturate(180%) blur(3px);
}

.radio-input:focus {
  outline: none;
  box-shadow: var(--glass-shadow-sm),
    0 0 0 2px var(--color-primary-300);
}

.radio-input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  backdrop-filter: saturate(180%) blur(1px);
}

.radio-label {
  font-size: var(--font-size-sm);
  color: var(--text-color);
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.radio-label.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.radio-required {
  color: var(--color-error);
}