.left-menu {
  width: 210px;
  border-radius: 10px;
  max-height: calc(90vh - 70px);
  margin-top: 5vh;
  margin-bottom: 5vh;
  overflow-y: auto;
  position: relative;
  scrollbar-width: none;
}

.top-gradient {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 50px; */
  /* background-image: linear-gradient(to bottom, var(--background-color), transparent); */
  z-index: 1;
}

.bottom-gradient {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  /* background-image: linear-gradient(to top, var(--background-color), transparent); */
  z-index: 1;
}

.left-menu-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.left-menu-demo-section {
  padding: 5px 0;
}

.left-menu-divider {
  height: 1px;
  background: var(--border-color);
  margin: 10px 15px;
  opacity: 0.5;
}

.left-menu-components-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.left-menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.left-menu-item-text {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all 0.3s ease;
  color: var(--text-color-secondary);
}

.left-menu-item.active .left-menu-item-text,
.left-menu-item:hover .left-menu-item-text {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--text-color);
}