.stage {
  width: 100%;
  border-radius: 10px;
  padding: 2vmin;
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.stage-component.enlarge {
  scale: 3;
}

.stage-controls {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-base);
  z-index: 10;
  position: relative;
}
