@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import './styles/theme.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0 3vmin;
  /* background-color: var(--background-color); */
  position: relative;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-image: url('./assets/background-12.jpg');
  background-size: cover;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  will-change: transform;
  transform: translate3d(0, var(--parallax-translate, 0px), 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.main-container {
  display: flex;
  flex-direction: row;
  gap: 2vmin;
}