.icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--radius-md);
  cursor: pointer;
  color: var(--text-color-inverse);
  transition: backdrop-filter var(--transition-base), box-shadow var(--transition-base);
  outline: none;
  padding: 0;
  transform: none !important;
}

.icon-button.small {
  width: 32px;
  height: 32px;
  font-size: var(--font-size-base);
}

.icon-button.medium {
  width: 40px;
  height: 40px;
  font-size: var(--font-size-xl);
}

.icon-button.large {
  width: 48px;
  height: 48px;
  font-size: var(--font-size-2xl);
}

.icon-button__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform var(--transition-base);
  transform-origin: center;
  will-change: transform;
}

.icon-button:hover:not(:disabled) .icon-button__icon {
  transform: scale(1.05);
}

.icon-button:active:not(:disabled) .icon-button__icon {
  transform: scale(1.15);
}


.icon-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  backdrop-filter: saturate(180%) blur(1px);
}

.icon-button.primary {
  background-color: var(--color-primary-100);
}

.icon-button.secondary {
  background-color: var(--color-secondary-100);
}

.icon-button.ghost {
  background-color: var(--background-color-dark);
}

.icon-button.ghost:hover:not(:disabled) {
  background-color: var(--background-color-light);
}